/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/* Clearing floats */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
	clear: both;
}
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
	display: table;
	content: "";
}


/* =Typography
-------------------------------------------------------------- */

body {
	color: #434343;
	font-family: "Helvetica Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 62.5%;
}

/* Headings */

h1,h2 {  color: #606060; font-weight: normal; font-family: "Copse", Georgia, Times, serif; text-align: center;}

h3,h4,h5,h6 { font-family: "Helvetica", "HelveticaNeue", Arial, sans-serif; font-weight: bold; }

h1 { color: #606060; font-size: 3.6em; line-height: 1.1em; margin-bottom: 0.5em;}
h2 { color: #606060; font-size: 2.4em; margin-bottom: 1em; }
h3 { color: #000; font-size: 1.8em; line-height: 1; margin-bottom: 0.5em; margin-top: 0.5em }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }

/* Text elements */

p, li       { font-size: 1.8em; line-height: 1.4; margin: 0 0 0.75em; }
p.last      { margin-bottom: 0; }

ul, ol      { margin: 0 0 1.5em 1.5em; }
ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

/* Default link styles */

a:link,
a:visited { background: none; color: #3892E3; text-decoration: underline; }

a:hover,
a:active,
a:focus { color: #3892E3; text-decoration: none }


/* =Forms
-------------------------------------------------------------- */

input[type=text] {
	font-size: 1.8em;
	font-family: "Helvetica Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0.2em;
}

input[type=submit] {
	font-size: 1.8em;
	padding: 0.2em;
	text-transform: uppercase;
}

/* =Structure
-------------------------------------------------------------- */

body { background: #152E29; }

header { background: #00A98C;}

header h2 { font-size: 2.6em; margin: 0; padding: 1.25em 0; text-shadow: 1px 1px #006D5A; text-transform: uppercase; margin: 0 auto; max-width: 744px; }

header h2 a:link, header h2 a:visited { background: url('/static/img/logo_simplified.png') no-repeat left center; color: #fff; padding: 0.75em 0 0.75em 64px; text-decoration: none; }

div#content { background: #fff; padding-top: 4.8em; }

div.content { margin: 0 auto; max-width: 960px; overflow: hidden;}

div#further-information { background: #f3f1eb; clear: both; margin: 3.6em 0 0; overflow: hidden; padding: 4.8em 2em;}

div#further-information .section { float: left; margin-right: 3%; width: 31.333%; }

div#further-information .last { margin-right: 0; }

footer#site-information { background: #152E29; clear: both; padding: 4.8em 2em; }

footer p { color: #fff; font-size: 1.4em; }

footer p#the-real-thing { float: right; }

footer p#site-links a { margin-right: 1em; }


@media screen and (max-width:700px) {
	div#further-information .section { float: none; margin: 0 0 3em; width: auto; }
}

@media screen and (max-width:500px) {
	header h2 { font-size: 1.6em; }
	header h2 a:link, header h2 a:visited { padding-left: 56px }
	footer p#the-real-thing { float: none; margin: 0 0 2em 0; }
}

/* =Homepage
-------------------------------------------------------------- */

div#intro h1 { color: #606060; display: block; font-family: "Copse", Georgia, Times, Serif; font-size: 2.4em; margin-bottom: 1em;}

#intro a.action { background: #F5A623; border: 0; color: #fff; display: block; font-family: helvetica, arial, sans-serif; font-size: 1.8em; font-weight: bold; margin: 0 auto; padding: 0.82em; text-align: center; text-decoration: none; text-transform: uppercase; width: 7em;}

#intro small { display: block; font-size: 1.2em; margin: 2em auto 0; text-align: center;}



/* =Search
-------------------------------------------------------------- */

body#page-search div.content { max-width: 768px;}

div#primary-search { margin: -1.8em auto 6em auto; max-width: 600px;}

div#secondary-search { margin-bottom: 4.8em; }

div.search { padding: 4.2em 1.8em; text-align: center }

.search label { color: #606060; display: block; font-family: "Copse", Georgia, Times, Serif; font-size: 2.4em; line-height: 1.4; margin-bottom: 1em;}

.search input[type=text] { border: 1px solid #B7B7B7; margin: 0; padding: 0.75em; width: 75%; }

.search input[type=submit] { background: #F5A623; border: 0; color: #fff; font-family: helvetica, arial, sans-serif; font-size: 1.8em; font-weight: bold; margin-left: -0.2em; padding: 0.82em; -webkit-appearance: none;}

.search small { display: block; font-size: 1.2em; margin: 2em 0 0; }

div.error { background: #FFF9B4; border: 2px solid #EEA630; border-radius: 4px; margin: 1em auto 2em; max-width: 30em; padding: 12px;}

div.error ul { list-style-type: none; margin: 0; padding: 0 2em; }

div.error li { background: url('/static/img/warning.png') no-repeat center left; margin: 0; padding-left: 48px; text-align: left;} 


/* =Search results
-------------------------------------------------------------- */

ul#roads { border-bottom: 1px solid #e8e8e8; list-style: none; margin-left: 0; }

ul#roads li { border-top: 1px solid #E8E8E8; margin: 0; padding: 0.75em 0.5em; }

ul#roads li a:link, ul#roads li a:visited {  }

ul#roads li span.area a { color: #979797; margin-left: 1em; text-decoration: none;}

ul#roads li:hover { background: #FAFAFA; }

@media screen and (max-width: 700px) {
	#content h2 { line-height: 1.2; padding: 0 0.833em; }
	ul#roads li { padding: 0.75em 1.1em; }
}


/* =Collections
-------------------------------------------------------------- */

div#road-name { float: left; margin-right: 5%; padding-top: 5em; width: 35%; }

#road-name h1 { color: #000; font-size: 3.6em; line-height: 1.2; margin: 0.4em 0.556em; text-align: left; }

#road-name .area { color: #606060; display: block; margin-top: 0.25em;}

#road-name h1 small { display: block; font-family: "Helvetica Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 0.667em; margin: 0 0 0.5em; }

#road-name p.schedule-change { background: #F5A623; border-radius: 4px; color: #fff; font-size: 1.6em; margin: 1.5em 1.75em 0 1.25em; padding: 8px; text-align: left; }

div#collections { float: left; width: 60%; }

div.collection { margin: 0 0 1.8em; min-height: 15em; overflow: hidden; padding: 0 0 0 18.6em; position: relative; }

ul.links { list-style: none; margin: 0; }

ul.links li { margin: 0 0 0.25em; }

.collection h3 { font-size: 2em; margin: 1em 0 0.5em; }

.collection p.date { margin: 0.25em 0; }

.collection p.frequency { color: #979797; }

.collection .image-placeholder { background: #F3F1EB; height: 142px; position: absolute; top: 0px; left: 0px; width: 168px; }

.collection .image-placeholder img { margin: 3em 0 0 5em; }

@media screen and (max-width: 700px) {
	div#road-name { float: none; margin: -3em 0 5em; padding: 0; width: auto;}
	#road-name h1 { text-align: center; }
	#road-name p.schedule-change { margin-left: auto; margin-right: auto; max-width: 20em; text-align: center; }
	#road-name .area { display: inline; margin: auto; }
	div#collections { float: none; margin: 0 auto; width: 90%; }
	div.content { overflow: visible; } 
}

@media screen and (max-width: 450px) {
	div.collection { padding-left: 14em; }
	.collection h3 { margin-top: 0.33em; }
	.collection .image-placeholder { height: 100px; width: 118px;}
	.collection .image-placeholder img { margin: 1.2em 0 0 2.5em;}
}

/* =Static
-------------------------------------------------------------- */

body#page-static.content h1 { margin-bottom: 1em; }

body#page-static #content { padding-bottom: 4.8em; }

body#page-static #content h2 { margin: 1em 0 0.5em; }
