<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{% if title %}
	<title>{{title}} - Sevenoaks Bin Collections</title>
	{% else %}
	<title>Sevenoaks Bin Collections</title>
	{% endif %}
	<link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css' />
	<link href="/static/css/main.css" rel="stylesheet" media="screen" />
</head>
<body{% if body %} id="page-{{body}}"{% endif %}>

<header>
	<h2><a href="/">Sevenoaks Bin Collections</a></h2>
</header>

<div id="content">
	{% block content %}
	{% endblock %}
</div>

<footer id="site-information">
	<div class="content">
		<p id="the-real-thing">Visit <a href="http://www.sevenoaks.gov.uk">Sevenoaks District Council's website</a></p>
		<p id="site-links">
			<a href="/about">About</a>
		</p>
	</div>
</footer>

</body>
</html>
