{% extends "base.html" %}
{% block content %}

<div id="road-name">
	<p>Bin collection times for</p>
	<h1>{{road.name}}, {{road.area}}</h1>
	<p><a href="/">Change address</a></p>
</div>

{% for collection in collections %}

<div class="collection">
<h3>{{collection.name}}</h3>
<p class="date">{{collection.next}}</p>
<p class="frequency">{{collection.frequency}} collection</p>
<div class="image-placeholder"></div>
</div>

{% endfor %}

<div id="further-information">

	<div class="section">
		<h3>What can I put in my bin?</h3>
		<p>Sevenoaks DC publishes a PDF with information about what can be put in your black and clear sacks. View it here.</p>
	</div>

	<div class="section">
		<h3>More on bins and recycling</h3>
		<ul class="links">
			<li><a href="http://www.sevenoaks.gov.uk/services/housing/recycling-rubbish-and-waste/the-tip-household-waste-recycling-centres">Find your nearest tip</a></li>
			<li><a href="http://www.sevenoaks.gov.uk/__data/assets/pdf_file/0007/89890/Garden-Waste-Recycling-and-Rubbish-Sacks-Purchase-Locations-Current.pdf">Order garden waste bags</a></li>
			<li><a href="http://www.sevenoaks.gov.uk/services/housing/recycling-rubbish-and-waste/refuse,-recycling-and-garden-waste-general-information/bulky-waste-and-white-goods-collections">Bulky waste collections</a></li>
		</ul>
	</div>

</div>


{% endblock %}