{% extends "base.html" %}
{% block content %}

<div id="intro" class="content">
	<h1>Check when your next bin collection is</h1>
	<a href="/search" class="action">Start Now</a>
	<small><a href="#">Or read more about this site first</a></small>
</div>

<div id="further-information">

	<div class="content">

		<div class="section">
			<h3>Report a missed bin collection</h3>
			<p>If your bin wasn't collected and it should have been, you can report it to Sevenoaks DC <a href="http://www.sevenoaks.gov.uk/contact-us">using the details on the contact us page</a> on their website.</p>
		</div>

		<div class="section">
			<h3>What can I put in my bin?</h3>
			<p>Sevenoaks DC publishes a PDF document with information about what can be put in your black and clear sacks. <a href="http://www.sevenoaks.gov.uk/__data/assets/pdf_file/0006/82392/Your-Guide-to-Recycling-in-Sevenoaks-for-web.pdf">View it here</a>.</p>
		</div>

		<div class="section last">
			<h3>More on bins and recycling</h3>
			<ul class="links">
				<li><a href="http://www.sevenoaks.gov.uk/services/housing/recycling-rubbish-and-waste/the-tip-household-waste-recycling-centres">Find your nearest tip</a></li>
				<li><a href="http://www.sevenoaks.gov.uk/__data/assets/pdf_file/0007/89890/Garden-Waste-Recycling-and-Rubbish-Sacks-Purchase-Locations-Current.pdf">Order garden waste bags</a></li>
				<li><a href="http://www.sevenoaks.gov.uk/services/housing/recycling-rubbish-and-waste/refuse,-recycling-and-garden-waste-general-information/bulky-waste-and-white-goods-collections">Bulky waste collections</a></li>
			</ul>
		</div>

	</div>

</div>

{% endblock %}