{% extends "base.html" %}
{% block content %}

<h2>Select your road from the list below</h2>

<div class="content">
{% if roads %}
    <ul id="roads">
	{% for road in roads %}
		<li><a href="/collection-times/{{road.url_name}}">{{road.name}}</a> <span class="area"><a href="/collection-times/{{road.url_name}}">{{road.area}}</a></span></li>
	{% endfor %}
	</ul>
{% endif %}
</div>

<div id="secondary-search" class="search">
	<div class="content">
		<form action="/search" method="post" name="search">
		<h2>Or search again</h2>
		{{form.hidden_tag()}}
		{{form.road()}}
		<input type="submit" value="GO" />
		</form>
	</div>
</div>

{% endblock %}