{% extends "base.html" %}
{% block content %}

<h2>Select your road from the list below</h2>

{% if roads %}
    <ul id="roads">
	{% for road in roads %}
		<li><a href="/collection-times/{{road.id}}">{{road.name}} <span class="area">{{road.area}}</span></a></li>
	{% endfor %}
	</ul>
{% endif %}

<div id="secondary-search" class="search">
	<form action="/search" method="post" name="search">
	<h2>Or search again</h2>
	{{form.hidden_tag()}}
	{{form.road()}}
	<input type="submit" value="GO" />
	</form>
</div>

{% endblock %}