{% extends "base.html" %}
{% block content %}

<div class="content">

	<h1>About this site</h1>

	<h2>What is this website?</h2>
	<p>The purpose of this website is to make it easier for Sevenoaks District Council residents to find out when their next collection will be, even during holiday periods when collections dates change.</p>

	<p>While Sevenoaks DC's website provides information about bin collections in a PDF file, this PDF is hard to find and, for many people, hard to understand. This site attempts to make that data more accessible by allowing people to find out their next collection by using their road name. It presents household rubbish, recycling and garden waste collections in one view rather than splitting them across multiple files.</p>

	<h2>How does it work?</h2>

</div>

{% endblock %}