{% extends "base.html" %}
{% block content %}

<div class="content">

	<h1>About this site</h1>
	<p>The purpose of this website is to make it easier for Sevenoaks District Council residents to find out when their next collection will be, even during holiday periods when collection dates change.</p>

	<p><a href="http://www.sevenoaks.gov.uk">Sevenoaks DC's website</a> provides information about bin collections in <a href="http://www.sevenoaks.gov.uk/__data/assets/pdf_file/0003/82398/Refuse-Collection,-Garden-Waste,-and-Sacks-Days-for-web-Oct-2013.pdf">a PDF file</a>. This PDF is hard to find and, for many people, hard to navigate and understand. And to find out when you garden waste collection will be, you have to check <a href="http://www.sevenoaks.gov.uk/__data/assets/pdf_file/0006/82356/Garden-Waste-Collection-Calendar-April-2014-to-June-2015.pdf">a second PDF file</a>. This site attempts to make that data more accessible by allowing people to find out their next collection by searching using their road name. It presents household rubbish, recycling and garden waste collections in one view rather than splitting them across multiple files.</p>

	<h2>Who runs it?</h2>
	<p>This site was created by <a href="http://twitter.com/mikejthompson">Mike Thompson</a>, a Sevenoaks resident. Having worked with a number of Kent councils last year to help them evaluate aspects of their websites by gathering feedback from the public, I wanted to take the advice I'd given to its logical conclusion by making something, and, being a Sevenoaks resident, I thought it a good place to start.</p>

	<h2 id="contact">Get in touch</h2>
	<p>Spotted a mistake? Road missing? Anything else not right? Get in touch with me at <a href="&#109;&#x61;ilto:&#x6d;&#x69;ke&#106;a&#109;e&#115;&#116;&#104;o&#x6d;&#x70;&#x73;on@&#x67;&#x6d;&#x61;&#105;&#x6c;&#x2e;&#99;&#111;&#109;">&#x6d;&#x69;ke&#106;a&#109;e&#115;&#116;&#104;o&#x6d;&#x70;&#x73;on@&#x67;&#x6d;&#x61;&#105;&#x6c;&#x2e;&#99;&#111;&#109;</a> or <a href="http://twitter.com/mikejthompson">@mikejthompson</a> on twitter.</p>

	<h2>More</h2>
	<p>The code is all available to do whatever you want with <a href="https://github.com/mikejamesthompson/magic-bins">on GitHub</a>.</p>

</div>

{% endblock %}